DE1_SoC_TV/CHOSE_FILTR.v.bak
DE1_SoC_TV/DE1_SoC_TV.asm.rpt
DE1_SoC_TV/DE1_SoC_TV.cdf
DE1_SoC_TV/DE1_SoC_TV.done
DE1_SoC_TV/DE1_SoC_TV.fit.rpt
DE1_SoC_TV/DE1_SoC_TV.fit.smsg
DE1_SoC_TV/DE1_SoC_TV.fit.summary
DE1_SoC_TV/DE1_SoC_TV.flow.rpt
DE1_SoC_TV/DE1_SoC_TV.jdi
DE1_SoC_TV/DE1_SoC_TV.map.rpt
DE1_SoC_TV/DE1_SoC_TV.map.smsg
DE1_SoC_TV/DE1_SoC_TV.map.summary
DE1_SoC_TV/DE1_SoC_TV.pin
DE1_SoC_TV/DE1_SoC_TV.qpf
DE1_SoC_TV/DE1_SoC_TV.qsf
DE1_SoC_TV/DE1_SoC_TV.sdc
DE1_SoC_TV/DE1_SoC_TV.sld
DE1_SoC_TV/DE1_SoC_TV.sof
DE1_SoC_TV/DE1_SoC_TV.sta.rpt
DE1_SoC_TV/DE1_SoC_TV.sta.summary
DE1_SoC_TV/DE1_SoC_TV.v.bak
DE1_SoC_TV/DE1_SoC_TV_assignment_defaults.qdf
DE1_SoC_TV/DIV.qip
DE1_SoC_TV/Filtr.v.bak
DE1_SoC_TV/Filtr_SWITCH.v.bak
DE1_SoC_TV/Filtr_null.v.bak
DE1_SoC_TV/Line_Buffer.qip
DE1_SoC_TV/MAC_3.qip
DE1_SoC_TV/MAC_3.xml
DE1_SoC_TV/PLLJ_PLLSPE_INFO.txt
DE1_SoC_TV/Sdram_Control_4Port/
DE1_SoC_TV/Sdram_PLL.qip
DE1_SoC_TV/Sdram_PLL.xml
DE1_SoC_TV/Sdram_RD_FIFO.qip
DE1_SoC_TV/Sdram_WR_FIFO.qip
DE1_SoC_TV/c5_pin_model_dump.txt
DE1_SoC_TV/cio_dump_disallowed_lists.echo
DE1_SoC_TV/db/
DE1_SoC_TV/demo_batch/
DE1_SoC_TV/greybox_tmp/
DE1_SoC_TV/hc_output/
DE1_SoC_TV/incremental_db/
DE1_SoC_TV/modelsim.ini
DE1_SoC_TV/modelsim/
DE1_SoC_TV/qmegawiz_errors_log.txt
DE1_SoC_TV/readme.txt
DE1_SoC_TV/serv_req_info.txt
obraz_z_kamery.bdf
obraz_z_kamery.qpf
obraz_z_kamery.qsf
obraz_z_kamery.qws
